src/ProxyClientApplication3/Service References/ServiceReference/cgeers.wordpress.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="cgeers.wordpress.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="cgeers.wordpress.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="cgeers.wordpress.com/Imports">
      <xsd:import namespace="cgeers.wordpress.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfDataTypeService_GetEmployeesAsDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesAsDictionary" />
  </wsdl:message>
  <wsdl:message name="IWcfDataTypeService_GetEmployeesAsDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesAsDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDataTypeService_GetEmployeesAsCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesAsCollection" />
  </wsdl:message>
  <wsdl:message name="IWcfDataTypeService_GetEmployeesAsCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesAsCollectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfDataTypeService">
    <wsdl:operation name="GetEmployeesAsDictionary">
      <wsdl:input wsaw:Action="cgeers.wordpress.com/IWcfDataTypeService/GetEmployeesAsDictionary" message="tns:IWcfDataTypeService_GetEmployeesAsDictionary_InputMessage" />
      <wsdl:output wsaw:Action="cgeers.wordpress.com/IWcfDataTypeService/GetEmployeesAsDictionaryResponse" message="tns:IWcfDataTypeService_GetEmployeesAsDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesAsCollection">
      <wsdl:input wsaw:Action="cgeers.wordpress.com/IWcfDataTypeService/GetEmployeesAsCollection" message="tns:IWcfDataTypeService_GetEmployeesAsCollection_InputMessage" />
      <wsdl:output wsaw:Action="cgeers.wordpress.com/IWcfDataTypeService/GetEmployeesAsCollectionResponse" message="tns:IWcfDataTypeService_GetEmployeesAsCollection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>